.footer {
	height: 200px;
	background-color:#17202e;
	color: white;
	padding:30px;
}
.footer__address {
	margin-bottom:5px;
}
.footer__promise {
	margin-top:20px;
	margin-bottom:5px;
	color:#ccc;
	font-size:13px;
}
.footer__promise ul li {
	margin-right:10px;
}
.footer__copy {
	margin-top:80px;
	color:#ccc;
	font-size:11px;
	text-align:right;
}